[Unit]
Description=Canto Node
After=network.target

[Service]
Type=simple
User={{ svc_user }}
WorkingDirectory=/home/{{ svc_user }}
ExecStart=/usr/bin/cantod start --trace --log_level info --json-rpc.api eth,txpool,personal,net,debug,web3 --api.enable
Restart=on-failure
StartLimitInterval=0
RestartSec=3
LimitNOFILE=65535
LimitMEMLOCK=209715200

[Install]
WantedBy=multi-user.target