[Unit]
Description=penumbra cometbft service
After=network-online.target
StartLimitBurst=3
StartLimitIntervalSec=300

[Service]
User={{ svc_user }}
Restart=on-failure
RestartSec=10s
ExecStart=/home/{{ svc_user }}/bin/{{ cometbft_daemon }} start --home /home/{{ svc_user }}/.penumbra/testnet_data/node0/cometbft

[Install]
WantedBy=multi-user.target
